body {
    width: 308px;
    margin: 0 auto;
}
.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}
.main-div{
    height: 210px;
    background-color: #4D4D4D;
    color: white;
}
.green {
    border: solid green;
    background-color: green;
}
.yellow {
    border: solid yellow;
    background-color: yellow;
}
.red {
    border: solid red;
    background-color: red;
}
p {
    font-size: 30px;
    text-align: right;
}
.no-top-margin {
    margin-top: 1px;
}
.no-bottom-margin {
    margin-bottom: 1px;
}
.numpad-row {
    height: 70px;
    background-color: #D5D5D5;
}
.inner-cell {
    display: inline-block;
    border: #818181 solid 2px;
    height: 100%;
    width: 77px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-top: none;
    background-color: #D5D5D5;
}
.float-left {
    float: left;
}
.clear {
    clear: both;
}
.border-color {
    border-color: #4D4D4D;
}
.no-left-border {
    border-left: none;
}
.no-right-border {
    border-right: none;
}
.no-top-border {
    border-top: none;
}
.vertical-align {
    vertical-align: middle;
    line-height: 70px;
}
.white {
    color: white;
    vertical-align: middle;
    line-height: 35px;
}
.width-zero {
    width: 77px;
}
.top-row-div {
    height: 35px;
}
.operations-color {
    background-color: #EF913A;
    color: white;
}
.heading-color {
    background-color: #818181;
}
.circle-margin {
    margin-left: 10px;
    margin-top: 10px;
}